.navbar {
    background-color: #D8F781;
}

.quem-somos {
    background-color: aquamarine;
    color: white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}
.parceiros {
    background-color: #D0F5A9;
}

.servicos {
    background-color: chartreuse;
}